.vimrc
.lastclean
config.log
config.status
tags
makeopts

*.swp
*.i
*.o
*.d
*.a
*.exports
*.so
*.moduleinfo
*.makeopts
cscope.*

sounds/*.tar.gz
build_tools/menuselect-deps

include/asterisk/autoconfig.h
include/asterisk/build.h
main/version.c

menuselect/autoconfig.h
menuselect/makeopts
